/*Top styles start*/
.top {
  margin-bottom: 86px;

  &__title {
    margin-bottom: 64px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 57px;
    grid-row-gap: 57px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    grid-column: span 2;

    &-pic {
      position: relative;
      margin-bottom: 45px;
    }

    &-stats {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 16px 25px;
      background-color: rgba(21, 24, 36, 0.6);
      color: #fff;
      font-weight: 500;
    }

    &-title {
      font-size: 18px;
      margin: 0 auto 0 0;
    }

    &-likes {
      padding-right: 20px;
      background: url(../img/svg/heart-ico.svg) no-repeat right 5px;
      margin-right: 14px;
    }

    &-comments {
      padding-right: 23px;
      background: url(../img/svg/comment-ico.svg) no-repeat right 6px;
    }

    &-info {
      margin-bottom: 31px;
    }

    &-more {
      width: 118px;
      padding: 12px 19px;
      margin: auto 0 0 0;

      &:hover, &:focus, &:active {
        background: #145bba;
      }
    }
  }
}
/*Top styles end*/